<body>
    <div class="container">
        <h2>Tarjetas</h2>
        <div class="table_header">
            <div class="input_search">
                <input type="search" placeholder="Buscar" />
                <i class="bi bi-search" id="search"></i>
            </div>
            <button (click)="navigateToLicencia()">Crear nuevo</button>
        </div>
        <div class="table_container">
            <table>
                <thead>
                    <tr>
                        <th>Id<i class="bi bi-chevron-expand"></i></th>
                        <th>Cliente Id<i class="bi bi-chevron-expand"></i></th>
                        <th>Fecha de Vencimiento<i class="bi bi-chevron-expand"></i></th>
                        <th>Tipo<i class="bi bi-chevron-expand"></i></th>
                        <th>Imagen<i class="bi bi-chevron-expand"></i></th>
                        <th>Operaciones <i class="bi bi-chevron-expand"></i></th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let license of licenses">
                        <td>{{ license.id }}</td>
                        <td>{{ license.cliente_id }}</td>
                        <td>{{ license.fecha_vencimiento }}</td>
                        <td>{{ license.tipo }}</td>
                        <td><img [src]="'http://127.0.0.1:8000/api/v1/licencia/getImage' + license.img"></td>
                        <td>
                            <i class="bi bi-pencil-square" id="icons"></i>
                            <i class="bi bi-trash" id="icons" (click)="destroyLicense(license.id)"></i>
                            <i class="bi bi-eye" id="icons"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table_footer">
            <p>Registro de Licencias</p>
        </div>
    </div>
</body>
