* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 20px; /* Ajusta este margen si es necesario */
  background-color: #f9f9f9;
  font-family: 'Times New Roman', Times, serif;
}

.addVehicle-wrapper, .container {
  width: 100%;
  max-width: 1170px;
  margin: 20px auto; /* Ajusta este margen si es necesario */
  background-color: #F2F2F2;
  box-shadow: 0 0 10px rgba(50, 50, 50, 0.3); /* Ajusta sombra si es necesario */
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #737373;
}

/* Eliminar margen inferior del addVehicle-wrapper y superior del container */
.addVehicle-wrapper {
  margin-top: 70px;
  margin-bottom: 10px;
  color: #0D0D0D;
  font-size: 1.2em;
  display: flex;
  flex-wrap: wrap;
}

.addVehicle-wrapper > * {
  padding: 0.5em;
  flex: 1 1 100%;
}

.vehicle-info {
  margin: 0;
  background-color: #0D0D0D;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 200px;
}

.vehicle-form form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5em;
}

.vehicle-formform .block {
  grid-column: 1 / 2;
}

.vehicle-form form p {
  margin: 0;
  padding: 0.5em;
}

.vehicle-form form button,
.vehicle-form form input,
.vehicle-form form textarea {
  width: 100%;
  padding: .5em;
  border: none;
  background-color: #F2F2F2;
  outline: 0;
  color: #0D0D0D;
  border-bottom: 1px solid #737373;
}

.vehicle-form form .button {
  background-color: #737373;
  border: 0;
  text-transform: uppercase;
  padding: 0.5em;
}

.vehicle-form h3 {
  text-align: center;
  padding: 0.5em;
}

.vehicle-form form .button:hover,
.vehicle-form form .button:focus {
  background-color: #0D0D0D;
  color: #F2F2F2;
  border: 5px solid #262626;
  transition: background-color 1s ease-out, border 1s ease-out;
  outline: 0;
}

.vehicle-info img {
  width: 100%;
  height: auto;
}
.vehicle-form .fotoo{
  align-content: center;
  text-align: center;
}

.vehicle-form .fotoo img {
max-width: 400px; /* Ajusta el tamaño máximo de la imagen */
height: auto;
border-radius: 7px;
}
@media (min-width: 700px) {
  .addVehicle-wrapper {
      display: grid;
      grid-template-columns: 2fr 1fr;
  }

  .addVehicle-wrapper > * {
      padding: 1em;
  }

  .vehicle-form form {
      grid-template-columns: 1fr 1fr;
  }

  .vehicle-form form .block {
      grid-column: 1 / 3;
  }

  .vehicle-info {
      height: auto;
  }
}

.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.table_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px 0;
  margin: 10px;
}

.header_right {
  display: flex;
  align-items: center;
  gap: 5px;
}

.container h2 {
  margin: 10px;
  font-size: 1.4em;
}

button {
  outline: none;
  border: none;
  background-color: #222121;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  background-color: #4b4a4a;
}

.input_search {
  position: relative;
  width: 50%;
}

.input_search input {
  border-radius: 20px;
  width: 100%;
  outline: none;
  padding: 10px 15px;
  border: 1px solid #c9c9c9;
  box-sizing: border-box;
  padding-right: 40px;
}

.input_search #search {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.table_container {
  overflow-x: auto;
  margin-top: 1rem;
  width: 100%;
}

table {
  border-spacing: 0;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #737373;
}

table thead {
  background-color: #222121;
  border-radius: 1.2rem;
}

table th, table td {
  padding: 5px;
  text-align: center;
  border-bottom: 1px solid #dfdfdf;
}

table th {
  white-space: nowrap;
  color: #F2F2F2;
}

table td #icons {
  font-size: 20px;
  cursor: pointer;
  margin-left: 10px;
  color: #000;
}

tbody tr:hover {
  background-color: #bdbdbdbf;
}

.table_footer {
  margin-top: 1rem;
  padding: 0;
  text-align: center;
  width: 100%;
  font-weight: bold;
}

@media (max-width: 768px) {
  .container {
      width: 95%;
  }

  .table_header {
      flex-direction: column;
      align-items: flex-start;
  }

  .header_right {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
  }

  .table_header button, .input_search {
      width: 100%;
  }
}

@media (max-width: 576px) {
  table {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
  }

  table thead, table tbody, table th, table td, table tr {
      display: block;
  }

  table thead {
      float: left;
  }

  table tbody {
      width: auto;
      position: relative;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
  }

  table tbody tr {
      display: table-cell;
  }

  table tbody tr td {
      display: block;
      text-align: right;
      border: none;
      position: relative;
      text-align: center;
      padding: 5px 10px;
  }

  table tbody tr td:before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 5px;
      font-weight: bold;
      text-align: left;
  }

  .table_header button {
      margin-top: 10px;
  }
}
