<body>
    <div class="container">
        <h2>Vehículos</h2>
        <div class="table_header">
            <div class="input_search">
            <input type="search" placeholder="Buscar por Placa" [(ngModel)]="searchQuery" (keyup.enter)="searchVehicleById()" />
            <i class="bi bi-search" id="search" (click)="searchVehicleById()"></i>
            </div>
            <button (click)="navigateToAddVehicle()">Crear nuevo</button>
        </div>
        <div class="table_container">
            <table>
                <thead>
                    <tr>
                        <th>Id<i class="bi bi-chevron-expand"></i></th>
                        <th>Placa<i class="bi bi-chevron-expand"></i></th>
                        <th>Marca<i class="bi bi-chevron-expand"></i></th>
                        <th>Modelo<i class="bi bi-chevron-expand"></i></th>
                        <th>Transmisión<i class="bi bi-chevron-expand"></i></th>
                        <th>Precio<i class="bi bi-chevron-expand"></i></th>
                        <th>Kilometraje<i class="bi bi-chevron-expand"></i></th>
                        <th>Año<i class="bi bi-chevron-expand"></i></th>
                        <th>Estado<i class="bi bi-chevron-expand"></i></th>
                        <th>Imagen<i class="bi bi-chevron-expand"></i></th>
                        <th>Operaciones <i class="bi bi-chevron-expand"></i></th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let vehicle of filteredVehicles">
                        <td>{{ vehicle.id }}</td>
                        <td>{{ vehicle.placa }}</td>
                        <td>{{ vehicle.marca }}</td>
                        <td>{{ vehicle.modelo }}</td>
                        <td>{{ vehicle.transmision }}</td>
                        <td>{{ vehicle.precio }}</td>
                        <td>{{ vehicle.kilometraje }}</td>
                        <td>{{ vehicle.anio }}</td>
                        <td>{{ vehicle.estado }}</td>
                        <td><img [src]="'http://127.0.0.1:8000/api/v1/vehiculo/getImage/' + vehicle.img" alt="{{ vehicle.marca }} {{ vehicle.modelo }}" class="vehicle-image"></td>
                        <td>
                            <i class="bi bi-pencil-square" id="icons" (click)="navigateToUpdate(vehicle.placa)"></i>
                            <i class="bi bi-trash" id="icons" (click)="confirmDelete(vehicle.placa)"></i>
                            <i class="bi bi-eye" id="icons" (click)="navigateToShow(vehicle.placa)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table_footer">
            <p>Registro de Vehículos</p>
        </div>
    </div>
</body>
