<body>
  <div class="container">
    <h2>Usuarios</h2>
      <div class="table_header">
          <div class="input_search">
            <input type="search" placeholder="Buscar por Email" [(ngModel)]="searchQuery" (keyup.enter)="searchUserByEmail()" />
            <i class="bi bi-search" id="search" (click)="searchUserByEmail()"></i>
          </div>
          <button (click)="navigateToAddUser()">Crear nuevo</button>
      </div>
      <table>
          <thead>
              <tr>
                  <th>Nombre<i class="bi bi-chevron-expand"></i></th>
                  <th>Correo<i class="bi bi-chevron-expand"></i></th>
                  <th>Rol<i class="bi bi-chevron-expand"></i></th>
                  <th>Operaciones <i class="bi bi-chevron-expand"></i></th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let user of filteredUsers">
                  <td>{{ user.name }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.rol }}</td>
                  <td>
                      <i class="bi bi-pencil-square" id="icons" (click)="navigateToUpdate(user.email)"></i>
                      <i class="bi bi-trash" id="icons" 
                        *ngIf="identity && identity.iss !== user.id" 
                        (click)="confirmDelete(user.email)">
                        </i>
                      <i class="bi bi-eye" id="icons" (click)="navigateToShow(user.email)"></i>
                  </td>
              </tr>
          </tbody>
      </table>
      <div class="table_fotter">
          <p>Registro de usuarios</p>
      </div>
  </div>
</body>