<div class="wrapper">
    <div class="container main">
        <div class="row">
            <div class="col-md-6 side-image">
                <!-- IMAGEN -->
            </div>
            <div class="col-md-6 right">
                <div class="input-box">
                    <header>Registro de Usuario</header>
                    <form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">

                        <div class="input-field">
                            <input id="name" type="text" #name="ngModel" class="input" name="name"
                                   pattern="^(?=.*[a-z])(?=.*[A-Z]).{4,}$" [(ngModel)]="user.name" required
                                   placeholder=""/>
                            <small class="invalid-feedback d-block" *ngIf="name.invalid && name.touched">Formato inválido</small>
                            <label for="name">Nombre</label>
                        </div>

                        <div class="input-field">
                            <input id="email" type="email" #email="ngModel" class="input" name="email"
                                   pattern="[a-z0-9!#$%&'+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                                   [(ngModel)]="user.email" required placeholder=""/>
                            <small class="invalid-feedback d-block" *ngIf="email.invalid && email.touched">Formato inválido</small>
                            <label for="email">Correo</label>
                        </div>

                        <div class="input-field">
                            <input id="password" type="password" #password="ngModel" class="input" name="password"
                                   pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,}$" [(ngModel)]="user.password" required
                                   placeholder="">
                            <small class="invalid-feedback d-block" *ngIf="password.invalid && password.touched">Formato inválido</small>
                            <label for="password">Contraseña</label>
                        </div>

                        <div class="input-field">
                            <input type="submit" class="submit" value="Registrar" [disabled]="signupForm.invalid">
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
  