#galeria .col-lg-4, #anuncios col-lg-6, #galeria2 .col-lg-4{
padding: 25px;
margin: 0 !important;
}
#anuncios img {
  width: 100%;
  height: 500px;
}
#galeria img{
  width: 100%;
  height: 350px;
}
#galeria2 img{
  width: 100%;
  height: 300px;
}
#galeria img:hover, #galeria2 img:hover{
  border: 5px solid #f7f7f7;
}
#galeria h1, #anuncios p, #galeria2 h1, #galeria2 p{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 1.7;
  text-align: center;
  align-content: center;
  
}
#anuncios h2{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}

#anuncios button{
  color: #F2F2F2;
  background-color: #222121;
}

#anuncios button:hover{
  background-color: #737373;
}
