.container{
    text-align: center;
    margin: 50px 250px;
}
h1, h2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.m-30{
    margin-top: 30px;
}
.m-25{
    margin: 25px;
}

.tta-container { /*REVISAR*/
    display: flex;
    justify-content: center;
    margin: 15dvb;
  }
  .tta {
    width: 80%;
  }

  @media (min-width: 768px) {
    .carousel {
      width: 80%;
    }
  }

  @media (min-width: 1200px) {
    .carousel {
      width: 80%;
    }
  }
