<div>
    <section id="anuncios">
        <div class="row mt-5">
            <div class="col-lg-6 col-md-12 col-sm-  mt-5">
                <h2 class="text-center">¿Por qué rentar con nosotros?</h2>
                <p class="h4 mt-4">Cuando estamos de vacaciones, todos buscamos experiencias inolvidables. Por eso, es crucial elegir un servicio de alquiler de autos que se enfoque en ofrecer la mejor experiencia posible para el usuario. 
                    En nuestra empresa, nos dedicamos a brindar un excelente servicio al cliente durante todo el período de alquiler.
                </p>
                    <p class="h4">Para alquilar un vehículo con nosotros, simplemente presenta tu licencia de conducir con al menos 1 años de antigüedad y una tarjeta de crédito. 
                        ¡Reserva ahora y descubre por qué somos la mejor opción para tu alquiler de autos! 
                    </p>
                <div class="text-center mt-4">
                    <button type="button" class="btn btn-dark btn-lg mb-4 text-center" (click)="navigateToCatalog()">Reservar</button>
                </div>   
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 text-center mt-3">
                <img src="../assets/img/img1.jpg" alt="Anuncio Imagen">
            </div>
   
        </div>
    </section>
    

    <section id="galeria">
        <div class="text-center pt-5 m-5 mt-4">
            <h1>Tenemos las mejores opciones para ti</h1>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <img src="../assets/img/carro1.jpg" alt="Galeria Imagen">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <img src="../assets/img/carro5.jpg" alt="Galeria Imagen">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <img src="../assets/img/carro3.jpg" alt="Galeria Imagen">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <img src="../assets/img/carro4.jpg" alt="Galeria Imagen">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <img src="../assets/img/carro2.jpg" alt="Galeria Imagen">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <img src="../assets/img/carro6.jpg" alt="Galeria Imagen">
            </div>
        </div>
    </section>

    <section id="galeria2">
        <div class="text-center pt-5 m-5 mt-4">
            <h1>Descubra Costa Rica viajando en nuestros carros</h1>
        </div>
        <div class="text-center mt-4">
            <button type="button" class="btn btn-dark btn-lg mb-4 text-center"(click)="navigateToCatalog()" >Reservar ahora</button>
        </div>   
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <img src="../assets/img/lugar1.jpg" alt="Galeria Imagen">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <img src="../assets/img/lugar2.jpg" alt="Galeria Imagen">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <img src="../assets/img/lugar3.jpg" alt="Galeria Imagen">
            </div>
        </div>
        <div>
            <p class="h4 mt-4 m-5">
                Si está buscando cómo maximizar su experiencia en el país o planear un buen fin de semana, podemos ayudarle a descubrir destinos increíbles a los que puede llegar en un carro de alquiler.
            </p>
        </div>
    </section>


    
</div>
