<div class="content">
    <div class="card-wrapper">
        <div class="card-form">
            <h3>Modificar Tarjeta</h3>
            <form #updateForm="ngForm" (ngSubmit)="onSubmit(updateForm)">
                <p>
                    <label for="id">Tarjeta terminada en</label>
                    <input id="id" type="text" #id="ngModel" class="input" name="id" 
                    [(ngModel)]="card.id" required placeholder="" readonly/>  
                    <small class="invalid-feedback d-block" *ngIf="id.invalid && id.touched">Formato inválido</small>
                </p>
                <p>
                    <label for="titular">Titular</label>
                    <input id="titular" type="text" #titular="ngModel" class="input" name="titular"
                        pattern="^[a-zA-Z\sáéíóúÁÉÍÓÚñÑ]+$" [(ngModel)]="card.titular" required
                        placeholder="" readonly/>
                    <small class="invalid-feedback d-block" *ngIf="titular.invalid && titular.touched">Formato inválido</small>
                </p>
                <p>
                    <label for="fecha_vencimiento">Fecha de vencimiento</label>
                    <input id="fecha_vencimiento" type="text" #fecha_vencimiento="ngModel" class="input" name="fecha_vencimiento"
                        pattern="^(19|20)\d{2}-(0?[1-9]|1[0-2])-(0?[1-9]|[12]\d|3[01])$" [(ngModel)]="card.fecha_vencimiento" required
                        placeholder=""/>  <!--CAMBIAR EL PATRON PARA PERMITIR NOMBRES Y APELLIDOS CON ESPACIOS AQUI Y EN EL BACKEND-->
                    <small class="invalid-feedback d-block" *ngIf="fecha_vencimiento.invalid && fecha_vencimiento.touched">Formato inválido</small>
                </p>
                <p>
                    <label for="cvv">Cvv</label>
                    <input id="cvv" type="text" #cvv="ngModel" class="input" name="cvv"
                         [(ngModel)]="card.cvv" required
                        placeholder="" readonly/>
                    <small class="invalid-feedback d-block" *ngIf="cvv.invalid && cvv.touched">Formato inválido</small>
                </p>
                <p class="block .button">
                    <input type="submit" class="submit button" value="Guardar" [disabled]="updateForm.invalid" />
                  </p>
            </form>
        </div>
        <div class="card-info">
            <img src="../assets/img/2.png" alt="Anuncio Imagen">
        </div>
    </div>
</div>

