<div class="page-container">
    <div class="col-md-12 mt-5">
        <div class="col-md-4 mx-auto login-container">
            <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)"> <!-- MANDA EL FORMULARIO AL TS-->
                <h3 class="text-center login-title">Inicio de sesión</h3>
                <div class="form-group">
                    <label class="form-label">Email</label>
                    <input class="form-control" name="email" type="email" #email="ngModel" [(ngModel)]="user.email" required>
                </div>
                <div class="form-group">
                    <label class="form-label">Contraseña</label>
                    <input class="form-control" name="password" type="password" #password="ngModel" [(ngModel)]="user.password" required>
                </div>

                <div class="text-center">
                    <input type="submit" class="btn btn-primary mt-3 login-button" value="Iniciar Sesión">
                </div>
            </form>
        </div>
    </div>
</div>

