<div class="content">
    <div class="client-wrapper">
        <div class="client-form">
            <h3>Agregar Clientes</h3>
            <form #clienteForm="ngForm" (ngSubmit)="onSubmit(clienteForm)">
                <p>
                    <label for="id">Id</label>
                    <input id="id" type="text" #id="ngModel" class="input" name="id" pattern="^\d{9}$" 
                    [(ngModel)]="client.id" required placeholder="Ej.501340345"/>
                    <small class="invalid-feedback d-block" *ngIf="id.invalid && id.touched">Formato inválido</small>
                </p>
                <p>
                    <label for="nombre">Nombre</label>
                    <input id="nombre" type="text" #nombre="ngModel" class="input" name="nombre"
                        pattern="^(?=.*[a-z])(?=.*[A-Z]).{4,}$" [(ngModel)]="client.nombre" required
                        placeholder=""/>
                    <small class="invalid-feedback d-block" *ngIf="nombre.invalid && nombre.touched">Formato inválido</small>
                </p>
                <p>
                    <label for="primer_apellido">Primer Apellido</label>
                    <input id="primer_apellido" type="text" #primer_apellido="ngModel" class="input" name="primer_apellido"
                        pattern="^(?=.*[a-z])(?=.*[A-Z]).{4,}$" [(ngModel)]="client.primer_apellido" required
                        placeholder=""/>
                    <small class="invalid-feedback d-block" *ngIf="primer_apellido.invalid && primer_apellido.touched">Formato inválido</small>
                </p>
                <p>
                    <label for="segundo_apellido">Segundo Apellido</label>
                    <input id="segundo_apellido" type="text" #segundo_apellido="ngModel" class="input" name="segundo_apellido"
                        pattern="^(?=.*[a-z])(?=.*[A-Z]).{4,}$" [(ngModel)]="client.segundo_apellido" required
                        placeholder=""/>
                    <small class="invalid-feedback d-block" *ngIf="segundo_apellido.invalid && segundo_apellido.touched">Formato inválido</small>
                </p>
                <p>
                    <label for="telefono">Teléfono</label>
                    <input id="telefono" type="text" #telefono="ngModel" class="input" name="telefono" pattern="^\d{8}$" 
                    [(ngModel)]="client.telefono" required placeholder="Ej.81827364"/>
                    <small class="invalid-feedback d-block" *ngIf="telefono.invalid && telefono.touched">Formato inválido</small>
                </p>
                <p>
                    <label for="email">Correo</label>
                    <input id="email" type="email" #email="ngModel" class="input" name="email"
                    pattern="[a-z0-9!#$%&'+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                        [(ngModel)]="client.email" required placeholder="Ej.mariagonzales@gmail.com"/>
                    <small class="invalid-feedback d-block" *ngIf="email.invalid && email.touched">Formato inválido</small>
                </p>
                <p>
                    <label for="direccion">Dirección</label>
                    <input id="direccion" type="text" #direccion="ngModel" class="input" name="direccion"
                        [(ngModel)]="client.direccion" required
                        placeholder="Distrito, cantón, provincia"/>
                    <small class="invalid-feedback d-block" *ngIf="direccion.invalid && direccion.touched">Formato inválido</small>
                </p>
                <p>
                    <label for="fecha_nacimiento">Fecha de Nacimiento</label>
                    <input id="fecha_nacimiento" type="date" #fecha_nacimiento="ngModel" class="input" name="fecha_nacimiento"
                        [(ngModel)]="client.fecha_nacimiento" required
                        placeholder="YYYY-MM-DD"/>
                    <small class="invalid-feedback d-block" *ngIf="fecha_nacimiento.invalid && fecha_nacimiento.touched">Formato inválido</small>
                </p>
                <p class="block .button">
                    <input type="submit" class="submit button" value="Agregar" [disabled]="clienteForm.invalid" />
                  </p>
            </form>
        </div>
        <div class="client-info">
            <img src="../assets/img/2.png" alt="Anuncio Imagen">
        </div>
    </div>
</div>
