<div class="content">
    <h2 id="title" class="text">Funciones de Administrador</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="optionsBtn">
                <p class="text">Usuarios</p>
                <div>
                    <button class="btn" (click)="navigateToAddUser()"><img src="../assets/img/agregar.png" alt="Agregar"/></button>
                    <button class="btn" (click)="navigateToviewUsers()"><img src="../assets/img/lista.png" alt="Lista"/></button> 
                </div>
            </div>
            <div class="optionsBtn">
                <p class="text">Clientes</p>
                <div>
                    <button class="btn" (click)="navigateToCliente()"><img src="../assets/img/agregar.png" alt="Agregar"/></button>
                    <button class="btn" (click)="navigateToviewClients()"><img src="../assets/img/lista.png" alt="Lista"/></button> <!--CAMBIAR PARA QUE LLEVE AL VER CLIENTES-->
                </div>
            </div>
            <div class="optionsBtn">
                <p class="text">Tarjetas</p>
                <div>
                    <button class="btn" (click)="navigateToAddCard()"><img src="../assets/img/agregar.png" alt="Agregar"/></button>
                    <button class="btn" (click)="navigateToviewCards()"><img src="../assets/img/lista.png" alt="Lista"/></button> <!--CAMBIAR PARA QUE LLEVE AL VER TARJETAS-->
                </div> 
            </div>
        </div>
        <div class="col-md-6">
            <div class="optionsBtn">
                <p class="text">Licencias</p>
                <div>
                    <button class="btn" (click)="navigateTolicencias()"><img src="../assets/img/agregar.png" alt="Agregar"/></button>
                    <button class="btn" (click)="navigateToviewLicenses()"><img src="../assets/img/lista.png" alt="Lista"/></button> <!--CAMBIAR PARA QUE LLEVE AL VER LICENCIAS-->
                </div>
            </div>
            <div class="optionsBtn">
                <p class="text">Vehículos</p>
                <div>
                    <button class="btn" (click)="navigateToAddVehicle()"><img src="../assets/img/agregar.png" alt="Agregar"/></button>
                    <button class="btn" (click)="navigateToviewVehicles()"><img src="../assets/img/lista.png" alt="Lista"/></button> <!--CAMBIAR PARA QUE LLEVE AL VER VEHICULOS-->
                </div>
            </div>
            <div class="optionsBtn">
                <p class="text">Rentas</p>
                <div>
                     <button class="btn" (click)="navigateToAddRent()"><img src="../assets/img/agregar.png" alt="Agregar"/></button> <!--CAMBIAR PARA QUE LLEVE A AGREGAR RENTA-->
                    <button class="btn" (click)="navigateToviewRents()"><img src="../assets/img/lista.png" alt="Lista"/></button> <!--CAMBIAR PARA QUE LLEVE AL VER RENTAS-->
                </div>
            </div>
        </div>
    </div>
</div>
