<div class="content">
    <h2 id="title" class="text">Funciones de Administrador</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="optionsBtn">
                <p class="text">Usuarios</p>
                <div>
                    <button class="btn"><img src="../assets/img/agregar.png" alt="Agregar"/></button>
                    <button class="btn"><img src="../assets/img/lista.png" alt="Lista"/></button>
                </div>
            </div>
            <div class="optionsBtn">
                <p class="text">Clientes</p>
                <div>
                    <button class="btn"><img src="../assets/img/agregar.png" alt="Agregar"/></button>
                    <button class="btn"><img src="../assets/img/lista.png" alt="Lista"/></button>
                </div>
            </div>
            <div class="optionsBtn">
                <p class="text">Tarjetas</p>
                <div>
                    <button class="btn"><img src="../assets/img/agregar.png" alt="Agregar"/></button>
                    <button class="btn"><img src="../assets/img/lista.png" alt="Lista"/></button>
                </div> 
            </div>
        </div>
        <div class="col-md-6">
            <div class="optionsBtn">
                <p class="text">Licencias</p>
                <div>
                    <button class="btn"><img src="../assets/img/agregar.png" alt="Agregar"/></button>
                    <button class="btn"><img src="../assets/img/lista.png" alt="Lista"/></button>
                </div>
            </div>
            <div class="optionsBtn">
                <p class="text">Vehículos</p>
                <div>
                    <button class="btn"><img src="../assets/img/agregar.png" alt="Agregar"/></button>
                    <button class="btn"><img src="../assets/img/lista.png" alt="Lista"/></button>
                </div>
            </div>
            <div class="optionsBtn">
                <p class="text">Rentas</p>
                <div>
                     <button class="btn"><img src="../assets/img/agregar.png" alt="Agregar"/></button>
                    <button class="btn"><img src="../assets/img/lista.png" alt="Lista"/></button>
                </div>
            </div>
        </div>
    </div>
</div>
