* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px rgba(50, 50, 50, 0.5);
    width: 100%;
    background-color: #F2F2F2;
    border-radius: 30px;
    padding: 20px;
    overflow: hidden;
}

.table_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px 0;
    margin: 20px;
}

.header_right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container h2 {
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
}

button {
    outline: none;
    border: none;
    background-color: #222121;
    color: #fff;
    padding: 10px 30px;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background-color: #4b4a4a;
}

.input_search {
    position: relative;
    width: 50%;
}

.input_search input {
    border-radius: 30px;
    width: 100%;
    outline: none;
    padding: 10px 20px;
    border: 1px solid #c9c9c9;
    box-sizing: border-box;
    padding-right: 50px;
}

.input_search #search {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.table_container {
    overflow-x: auto;
    margin-top: 1rem;
    width: 100%;
}

table {
    border-spacing: 0;
    width: 100%;
}

table thead {
    background-color: #222121;
    border-radius: 1.2rem;
}

table th, table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #dfdfdf;
}

table th {
    white-space: nowrap;
    color: #F2F2F2;
}

table td #icons {
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
    color: #000;
}

tbody tr:hover {
    background-color: #bdbdbdbf;
}

.table_footer {
    margin-top: 1rem;
    padding: 0;
    text-align: center;
    width: 100%;
    font-weight: bold;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    .table_header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header_right {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .table_header button, .input_search {
        width: 100%;
    }
}

@media (max-width: 576px) {
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    table thead, table tbody, table th, table td, table tr {
        display: block;
    }

    table thead {
        float: left;
    }

    table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    table tbody tr {
        display: table-cell;
    }

    table tbody tr td {
        display: block;
        text-align: right;
        border: none;
        position: relative;
        text-align: center;
        padding: 10px 15px;
    }

    table tbody tr td:before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 10px;
        font-weight: bold;
        text-align: left;
    }

    .table_header button {
        margin-top: 15px;
    }
}
