     <div class="content">
        <div class="client-wrapper">
                <div class="client-form">
                    <h3>Agregar Clientes</h3>
                    <form action="">
                        <p>
                            <label>Id</label>
                            <input type="text" name="id">
                        </p>
                        <p>
                            <label>Nombre</label>
                            <input type="text" name="name">
                        </p>
                        <p>
                            <label>Primer Apellido</label>
                            <input type="text" name="lastname">
                        </p>
                        <p>
                            <label>Segundo Apellido</label>
                            <input type="text" name="lastname2">
                        </p>
                        <p>
                            <label>Telefono</label>
                            <input type="text" name="phone">
                        </p>
                        <p>
                            <label>Email</label>
                            <input type="text" name="email">
                        </p>
                        <p>
                            <label>Dirección</label>
                            <input type="text" name="direction">
                        </p>
                        <p>
                            <label>Fecha de Nacimiento</label>
                        <input type="text" name="date">
                        </p>
                        <p  class="block">
                            <button type="submit">Agregar</button>
                        </p>
                    </form>
    
                </div>
                <div class="client-info">
                    <img src="../assets/img/2.png" alt="Anuncio Imagen">
                </div>
        </div>
    </div>
    
